@media screen and (max-width: 1000px){
  .container{
    width: 100%;
    // margin-left: 5px;
  }
  .nav-bar-list img{
    margin-left: 20px;
  }
  .jumbo .jumbo-text{
    margin-left: 20px;
  }
}


@media screen and (max-width: 768px){
  .contenitore{
    display: flex;
    flex-direction: column;
  }
  nav ul li{
    display: none;
  }
  nav .nav-bar-list > ul{
    display: none;
  }
  nav .nav-bar-list .logo-nav{
    display: block;
    margin: 0 auto;
  }
  nav .nav-bar-list .fa-bars{
    display: block;
    font-size: 20px;
    margin-left: 20px;
  }
  #magico #color-icons li i{
    color: $color-icon;
  }
  .w-35{
    width: calc(100%/1 - 5px);
    padding:25px 5px;
  }

  main .container .card.speciale {
  margin: 0 0px;
  }
  .raccolta{
    display: flex;
    flex-direction: column;
  }
  main .container .raccolta{
    margin-top: 0px;
  }
  main .container .raccolta > .card-1{
    width: 100%;
    margin-left: 0;
  }
  footer .information {
    display: flex;
    margin-top: 40px;
    flex-direction: column;
  }
  footer .information ul {
    // margin-right: 30px;
    width: 100%;
    margin-bottom: 10px;
    margin-left: 30px;
  }
  footer .icon-flex-end {
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
  }
  footer .footer .loghi {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
  }
}
