.container{
  width: 70%;
  margin: 0 auto;

}
ul{
  list-style: none;
  & > li{
    // margin: 0px 10px;
    margin-right: 20px;
  }
}
.mg-top{
  margin-top: 20px;
}
.mg-bottom{
  margin-bottom: 20px;
}
.btn{
  padding: 8px 15px;
  border: 1px solid black;
}
.w-35{
  width: calc(100%/3);
}

#magico{
   display: none;
   background-color: black;
   position: absolute;
   top: 80px;
   width: 100%;
   padding-left: 18px;
   & ul li{
     color: white;
     padding-bottom: 10px;
     border-bottom: 1px solid gray;
   }
}

// [class*="col-"]{
//   float: left;
//   // padding: 0 15px;
// }
//
// // .row{
// //   margin: 0 -15px;
// // }
// /*--- CLEARFIX ---*/
//
// .row:after{
//   content: '';
//   display: table;
//   clear: both;
// }
// .col-4{
//   width: calc(100% /12 *4 );
// }
// .col-6{
//   width: 50%;
//   /* width: calc(100% /12 *6); */
// }
