header{
  & .jumbo{
    background-image: url("./img/bg-painter-home.jpg");
    background-position: center;
    background-size: cover;
    height: 400px;
    background-repeat: no-repeat;
    & .container .jumbo-text{
      padding-top: 80px;
      & > span img{
        width: 220px;
      }
      & > p{
        width: 441px;
        font-size: 20px;
      }
      & .offers p{
        color: $color-offers;
        font-style: italic;
      }
      & .button .btn{
        margin-right: 15px;
        &.more{
          background-color: black;
          color: $color-nav-list;
        }
        &#download{
          background-color: #EBD79E;
          padding: 8px 20px;
        }
      }
    }
  }
}
