$nav-font-size: 11px;
$color-icon: #0E6FD2;
$color-nav-contact: gray;
$color-nav-list: white;
// $url-jumbo:"./assets/img/bg-painter-home.jpg";
$color-offers: #ff5cb8;
$bg-color-main: #E8E8E8;
$font-size: 30px;
