* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}

.container {
  width: 70%;
  margin: 0 auto;
}

ul {
  list-style: none;
}
ul > li {
  margin-right: 20px;
}

.mg-top {
  margin-top: 20px;
}

.mg-bottom {
  margin-bottom: 20px;
}

.btn {
  padding: 8px 15px;
  border: 1px solid black;
}

.w-35 {
  width: calc(100%/3);
}

header .jumbo {
  background-image: url("./img/bg-painter-home.jpg");
  background-position: center;
  background-size: cover;
  height: 400px;
  background-repeat: no-repeat;
}
header .jumbo .container .jumbo-text {
  padding-top: 80px;
}
header .jumbo .container .jumbo-text > span img {
  width: 220px;
}
header .jumbo .container .jumbo-text > p {
  width: 441px;
  font-size: 20px;
}
header .jumbo .container .jumbo-text .offers p {
  color: #ff5cb8;
  font-style: italic;
}
header .jumbo .container .jumbo-text .button .btn {
  margin-right: 15px;
}
header .jumbo .container .jumbo-text .button .btn.more {
  background-color: black;
  color: white;
}
header .jumbo .container .jumbo-text .button .btn#download {
  background-color: #EBD79E;
  padding: 8px 20px;
}

nav {
  background-color: black;
  height: 80px;
  font-size: 11px;
}
nav .nav-bar-contact {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
  margin-bottom: 20px;
}
nav .nav-bar-contact > ul {
  display: flex;
}
nav .nav-bar-contact > ul > li {
  color: gray;
}
nav .nav-bar-contact > ul > li > i {
  margin-right: 5px;
  color: #0E6FD2;
}
nav .nav-bar-contact > ul > li select {
  font-size: 11px;
}
nav .nav-magica {
  display: none;
  background-color: black;
}
nav .nav-magica ul li {
  color: white;
  border-bottom: 1px solid gray;
}
nav .nav-bar-list {
  display: flex;
  align-items: center;
}
nav .nav-bar-list > ul {
  display: flex;
  align-items: center;
}
nav .nav-bar-list > ul > li {
  color: white;
  display: flex;
  align-items: flex-end;
  padding-right: 10px;
}
nav .nav-bar-list > ul > li > img.logo-nav {
  width: 80px;
}
nav .nav-bar-list > ul > li > i {
  margin-left: 5px;
  color: gray;
}
nav .nav-bar-list .fa-bars {
  display: none;
  color: white;
}

main {
  background-color: #E8E8E8;
}
main .container > p {
  text-align: center;
  font-size: 30px;
  padding-top: 40px;
}
main .container .contenitore {
  display: flex;
}
main .container .card.speciale {
  margin: 0 20px;
}
main .container .card img {
  width: 100%;
}
main .container .card .descrizione {
  background-color: white;
  height: 175px;
  padding-left: 15px;
  padding-top: 15px;
}
main .container .card .descrizione .bold {
  font-weight: bold;
}
main .container .card .descrizione p.p {
  color: gray;
}
main .container .card .descrizione a {
  text-decoration: none;
  color: #8DCEFF;
}
main .container .raccolta {
  margin-top: 55px;
  display: flex;
  flex-wrap: wrap;
}
main .container .raccolta > .card-1 {
  width: 50%;
  height: 300px;
}
main .container .raccolta > .card-1.bg-img {
  background-image: url("./img/wacom-painter.jpg");
}
main .container .raccolta > .card-1 .text {
  margin-top: 50px;
  margin-left: 45px;
  margin-right: 30px;
}
main .container .raccolta > .card-1 .text p {
  color: white;
  margin-top: 20px;
  font-size: 18px;
}
main .container .raccolta > .card-1 .text p.title {
  font-size: 30px;
}
main .container .raccolta > .card-1 img {
  width: 100%;
  height: 100%;
}
main .container .raccolta > .card-1 > img#image {
  width: 80%;
  position: absolute;
  top: 10px;
  left: 10px;
}
main .container .raccolta > .card-1.bg-img {
  background-position: center;
  background-size: 100%;
  background-size: cover;
  position: relative;
}
main .container .raccolta > .card-1.bg-purple {
  background-color: #3C1567;
}
main .container .raccolta > .card-1.bg-gray {
  background-color: #3C3C3C;
}
main .container .raccolta > .card-1.bg-blue {
  background-color: #0072BB;
}

footer {
  font-size: 11px;
}
footer .information {
  display: flex;
  margin-top: 40px;
}
footer .information ul {
  margin-right: 30px;
  width: calc(100%/4 - 30px);
}
footer .information ul li:first-child {
  font-size: 20px;
  color: black;
}
footer .information ul li {
  margin-bottom: 10px;
  color: gray;
}
footer .icon-flex-end {
  display: flex;
  justify-content: flex-end;
}
footer .icon-flex-end div {
  height: 30px;
  width: 30px;
  margin: 0 5px;
}
footer .icon-flex-end div.bg-color-pink {
  background-color: #E75670;
}
footer .icon-flex-end div.bg-color-blue {
  background-color: #3C5998;
}
footer .icon-flex-end div.bg-color-cyan {
  background-color: #44ADF3;
}
footer .icon-flex-end div.bg-color-red {
  background-color: #CC201F;
}
footer .icon-flex-end div.bg-color-darkred {
  background-color: #BD091C;
}
footer .icon-flex-end div.bg-color-orange {
  background-color: #FF8D01;
}
footer .icon-flex-end i {
  margin-top: 5px;
  font-size: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .footer {
  background-color: #1E1E1E;
  height: 80px;
}
footer .footer .loghi {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .footer .loghi ul {
  display: flex;
  justify-content: space-between;
}
footer .footer .loghi ul li {
  color: gray;
  margin-left: 19px;
}
footer .footer .loghi ul li:last-child {
  color: white;
}

@media screen and (max-width: 1000px) {
  .container {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .contenitore {
    display: flex;
    flex-direction: column;
  }

  nav ul li {
    display: none;
  }

  nav .nav-bar-list > ul {
    display: none;
  }

  nav .nav-bar-list .logo-nav {
    display: block;
    margin: 0 auto;
  }

  nav .nav-bar-list .fa-bars {
    display: block;
    font-size: 20px;
    margin-left: 20px;
  }

  .w-35 {
    width: calc(100%/1);
    padding: 25px 0px;
  }

  main .container .card.speciale {
    margin: 0 0px;
  }

  .raccolta {
    display: flex;
    flex-direction: column;
  }

  main .container .raccolta > .card-1 {
    width: 100%;
    margin-left: 0;
  }
}
